.container {
  max-width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
fim {
  align-self: center;
}
button {
  width: 100px;
  align-content: center;
  margin-left: 50px;
}


